:root{
    --fade-in-time: 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    font-family: Arial;
    animation: fadeIn var(--fade-in-time);
    -webkit-animation: fadeIn var(--fade-in-time);
    -moz-animation: fadeIn var(--fade-in-time);
    -o-animation: fadeIn var(--fade-in-time);
    -ms-animation: fadeIn var(--fade-in-time);
}
